.wrapper
  .banner
    .banner__container
      .banner__title
        .banner__title-promo АКЦИЯ
        .banner__title-welcom Приветственный бонус
        .banner__title-bonus 4500₴
        .banner__title-spin 100 фриспинов
      .banner__pers
        img(src='img/pers.png' alt='pers')
    .banner__text Андрей Ярмоленко #[br] #[span бренд-амбассадор]







